<!DOCTYPE html>
<html lang="en" class="fill-height">
<head>
  <title>Code Embed Tool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="<%= versioned_css('code-embed.css') %>" rel="stylesheet" />
</head>
<body class="fill-height">
<div class="container-fluid fill-height" style="padding: 0;">
  <div class="row-fluid fill-height">
    <% unless hide_settings %>
    <div class="col-xs-4 fill-height" id="settings">
      <!-- put settings panel here -->
      <%= erb :_settings_panel %>
      <button class="btn btn-large btn-primary" id="save-button" type="button">Embed this code!</button>
      <button class="btn btn-large" id="reset-button" type="button">Reset</button>
    </div> <!-- end settings -->
    <% end %>
    <div class="<% unless hide_settings %>col-xs-8 <% end %>fill-height">
      <div id="editor" class="fill-height" style="display: none;"></div>
      <% if can_edit %>
      <button id="edit-btn" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <% end %>
    </div>
  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="<%= versioned_js('ace-builds/src-noconflict/ace.js') %>"></script>
<script src="<%= versioned_js('code-embed.js') %>"></script>
<% unless hide_settings %>
<script src="<%= versioned_js('code-embed-settings-panel.js') %>"></script>
<% end %>

<form id="editor-data">
  <input type="hidden" name="contents" value="<%= content if defined? content %>" />
  <input type="hidden" name="editor-settings" value="<%= editor_settings if defined? editor_settings %>" />
  <input type="hidden" name="placement-id" value="<%= placement_id if defined? placement_id %>" />
  <input type="hidden" name="return-url" value="<%= return_url if defined? return_url %>" />
</form>

</body>
</html>