<!DOCTYPE html>
<html lang="en" class="fill-height">
<head>
  <title>Code Embed Tool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="/code-embed.css" rel="stylesheet" />
</head>
<body class="fill-height">
<div class="container-fluid fill-height" style="padding: 0;">
  <div class="row-fluid fill-height">
    <% unless hide_settings %>
    <div class="col-xs-4 fill-height" id="settings">
      <!-- put settings panel here -->
      <%= erb :_settings_panel %>
      <button class="btn btn-large btn-primary" id="save-button" type="button">Embed this code!</button>
      <button class="btn btn-large" id="reset-button" type="button">Reset</button>
    </div> <!-- end settings -->
    <% end %>
    <div class="<% unless hide_settings %>col-xs-8<% end %> fill-height">
      <div id="editor" class="fill-height" style="display: none;"></div>
    </div>
  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/ace-builds/src-noconflict/ace.js"></script>
<script src="/code-embed.js"></script>

<form id="editor-data">
  <input type="hidden" name="contents" value="<%= content if defined? content %>" />
  <input type="hidden" name="editor-settings" value="<%= editor_settings if defined? editor_settings %>" />
  <input type="hidden" name="placement-id" value="<%= placement_id if defined? placement_id %>" />
  <input type="hidden" name="return-url" value="<%= return_url if defined? return_url %>" />
</form>

<script>
  var editorSettings = $.parseJSON(
      unescape($('#editor-data input[name="editor-settings"]').val()) || '{}');
  $(document).ready(function() {
    editor = setupEditor();
  });
<% unless hide_settings %>
  $(document).ready(function() {
    $("#save-button").on("click", saveEditor);
    $("#reset-button").on("click", resetEditor);
    
    function resetEditor() {
      editorSettings = {};
      setupEditor(true);
    }
    
    function saveEditor() {
      var $saveBtn = $("#save-button");
      $("#title").after($('<span class="label" id="save-label">Saving...</span>'));
      $saveBtn.off("click");
      $saveBtn.addClass("disabled");
      
      var content = escape(ace.edit("editor").getValue());
      var editor_settings = escape(JSON.stringify(editorSettings));
      $.ajax({
        url: "/save_editor",
        type: "POST",
        dataType: "json",
        data: {
          content: content,
          editor_settings: editor_settings,
          placement_id: $('#editor-data input[name="placement-id"]').val(),
          return_url: $('#editor-data input[name="return-url"]').val()
        },
        success: function(data) {
          if (data.success) {
            $('#save-label').addClass('label-success').text("Saved!");
            if (data.redirect_url) {
                // Redirect to show the editor that was just saved
                window.location.href = data.redirect_url;
            }
          }
          else {
            alert("There was a problem saving the editor.");
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("There was a problem saving the editor: " + errorThrown);
        }
      });
    }
  });
<% end %>
</script>

</body>
</html>